extends ../layout
block content
  .container
    h1 Generating Events for
    .row
      .col-md-6
        h4 POI Search
        form#poiQuery
          .form-group
            label Category Type 
            input.form-control(value="coffee", type="text", name="categories")
          .form-group
            label Event Origin (default home)
            input.form-control(type="text", name="locus", value="#{profileData.homeRef.join(', ')}")
          .form-group
            label Event Radius 
            input.form-control(type="text", name="distance", value="5000")
          .form-group
            button.btn.btn-success Search POI

        ul#poi-list.list-group

      .col-md-6#timeSelector
        h4 Time Frames
        form
          .form-group
            input.form-control.datetime-start(type="text", name="date-start")
          .form-group
            input.form-control.datetime-end(type="text", name="date-end")
          
          .form-group
            label Constrain to:
            select.form-control(name="week-range")
              option(value="weekdays") weekdays
              option(value="weekends") weekends
              each day in [ 'mondays', 'tuesdays', 'wednesdays', 'thursdays', 'fridays', 'saturdays', 'sundays' ]
                option(value="#{day}")= day
              
          .slider-container
          .form-group
            label Number of Events
            input.form-control(type="number", name="numEvents")


          .form-group
            button.btn.btn-success Generate Events
      .col-md-6

block javascripts
  script(src='/javascripts/profiles.js')
  script(src='/javascripts/timestamps.js')
  script(src='/javascripts/views/events.js')

  script(type="text/javascript").
    $(function () {
      var profile  = new Profile({_id: "#{profileData._id}"});
      var poiList = new PoiList();
      var queryView = new QueryView({ poiList: poiList });
      var timestamps = new Timestamps();
      
      $('.datetime-start').datepicker({
        todayHighlight: true
      });
      $('.datetime-end').datepicker();

      var timeSelector = new TimeSelector();
    });
