extends ../layout
block content
  .container
    h1 Generating Events for
    .row
      .col-md-6
        h4 POI Search
        form#poiQuery
          .form-group
            label Category Type 
            input.form-control(value="coffee", type="text", name="categories")
          .form-group
            label Event Origin (default home)
            input.form-control(type="text", name="locus", value="#{profileData.homeRef.join(', ')}")
          .form-group
            label Event Radius 
            input.form-control(type="text", name="distance", value="5000")
          .form-group
            button.btn.btn-success Search POI

        ul#poi-list.list-group

      .col-md-6#timeSelector
        h4 Time Frames
        form
          .form-inline(style="margin-bottom:12px")
            .form-group
              label Start Date
              input.form-control.datetime-start(type="text", name="dateStart")
            .form-group
              label End Date
              input.form-control.datetime-end(type="text", name="dateEnd")
          
          .form-group
            label Constrain to:
            select.rangeSelector.form-control(name="weekRange")
              option(value="weekdays") weekdays
              option(value="weekends") weekends
              each day in [ 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday' ]
                option(value="#{day}")= day
              
          .slider-container

          .form-group
            label Number of Events
            input.form-control(type="number", name="numEvents")

          .form-group
            label Offset Degrees
            input.form-control(type="text", name="degreeOffset", placeholder="0.00001")
            span.help-block adds a random amount of offset within limit specified

          .form-group
            button.btn.btn-success.btn-generate Generate Events
      .col-md-6

block javascripts
  script(src='/javascripts/profiles.js')
  script(src='/javascripts/timestamps.js')
  script(src='/javascripts/views/events.js')

  script(type="text/javascript").
    $(function () {
      var profile  = new Profile({_id: "#{profileData._id}"});
      var poiList = new PoiList();
      var queryView = new QueryView({ poiList: poiList });
      var timestamps = new Timestamps();
      
      var dateNow = moment().format('MM/DD/YYYY');
      $('.datetime-start').datepicker({
        todayHighlight: true
      });
      $('.datetime-end').datepicker({
        todayHighlight: true
      }).datepicker('update', dateNow);

      var timeSelector = new TimeSelector({ 
        poiList: poiList,
        userId: "#{profileData._id}"
      });
    });
