extends ../layout
block content
  .container
    h1 Generating Events for
    .row
      .col-md-6
        h4 POI Search
        form#poiQuery
          .form-group
            label Category Type 
            input.form-control(value="coffee", type="text", name="categories")
          .form-group
            label Event Origin (default home)
            input.form-control(type="text", name="locus", value="#{profileData.homeRef.join(', ')}")
          .form-group
            label Event Radius 
            input.form-control(type="text", name="distance", value="5000")
          .form-group
            button.btn.btn-success Search POI

        ul#poi-list.list-group
        ul.list-group
          li.poiItem.list-group-item
            .selected-status
              span.glyphicon.glyphicon-ok-sign
            .list-group-item-heading Starbucks
            p Boston, MA

      .col-md-6#timeFrames
        h4 Time Frames
        form(method="POST", action="/events/generate")
          .form-group
            label 
              | Spread over the next 
              em n 
              | weeks:
            input.form-control(type="number", name="weeks")
          
          .slider-container
            each day in [ 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday' ]
              div.slider-group
                label= day
                .slider-input
                  input.slider(type="text", name="#{day}")
          .form-group
            label Number of Events
            input.form-control(type="number", name="numEvents")


          .form-group
            button.btn.btn-success Generate Events
      .col-md-6

block javascripts
  script(src='/javascripts/profiles.js')
  script(src='/javascripts/views/events.js')

  script(type="text/javascript").
    var profile  = new Profile({_id: "#{profileData._id}"});
    var queryView = new QueryView();
    var poiList = new PoiList();

    var $sliders = $('.slider');
    $sliders.slider({
      min: 0,
      max: 24,
      value: [ 8, 16 ]
    });

