extends layout
block content
  div.index.container
    div.col-md-6.profile-list
      h2 Profiles
      ul.list-group#profileList

    div.col-md-6.right-column.create-profile
      h2 Create a Profile
      form#profileForm
        div.input-group
          span.input-group-btn
            button.btn.btn-default.uuid-gen generate uuid
          input.user-name.form-control(name="id", placeholder='Name or ID')
        div.input-group
          textarea.user-traits.form-control(name="traits", placeholder='User Traits (add description of user profile)')
        button.btn-success.btn Create


block javascripts
  script(src='/javascripts/profiles.js')
  script(src='/javascripts/views/index.js')

  script(type="text/javascript").
    var $uuidGen = $('.uuid-gen');
    var $idField = $('.user-name');
    $uuidGen.click(function(e) {
      e.preventDefault();
      $idField.val(guid());
    });
