extends layout

block content
  div.index
    h1 Mole
    div.left-column.profile-list
      h2 Profiles
      ul.list-group
        - each p in profiles
          li.list-group-item
            a(href="/profile/"+ p._id)
              h4.list-group-item-heading= p.id
              p.list-group-item-text= p.traits

    div.right-column.create-profile
      h2 Create a Profile
      form(method="POST", action="/")
        div.input-group
          input.user-name.form-control(name="id", placeholder='Username')
        div.input-group
          textarea.user-traits.form-control(name="traits", placeholder='User Traits (line seperated)')
        button.btn-success.btn Create
