doctype html
html
  head
    title= "Mole"
    link(rel='stylesheet', href='/stylesheets/main.css')
    link( rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link( rel='stylesheet', href='/components/mapbox.js/dist/mapbox.css')
    block head

  body
    .container
      h1
        a(href="/") Mole

    block content

    script(src = '/components/jquery/dist/jquery.min.js')
    script(src = '/javascripts/jade.js')
    script(src = '/components/bootstrap/dist/js/bootstrap.min.js')
    script(src = '/javascripts/jquery.form.min.js')
    script(src = '/components/mapbox.js/dist/mapbox.js')
    script(src = '/components/eventEmitter/EventEmitter.js')

    block javascripts
