extends layout
block content

  .container
    .mapWrapper(style="border:1px solid #CCC;padding-bottom:4px;")
      #map(style='height:280px;margin-bottom:4px;')
      form#importForm(role='form', method='post', enctype="multipart/form-data").form-inline
        .form-group.pull-right
          a.btn.btn-default(href='#') Create Events
        .form-group
          button.btn.btn-default#importButton Import Baseline
          input(name='baselineData', type='file')#importAction.hide
        .form-group
          #importProgress.progress
            .progress-bar


block javascripts
  script(type='text/javascript', src='/javascripts/profile/index.js')
  script(type='text/javascript').
    var app = new Profile();

