extends layout
block head
  script(src='/javascripts/profile.js')
block content
  div.profile
    h1 Profile
    .container
      .row
        .col-12
          form#searchForm(action="/searchEntity", method="post")
            div.input-group
              input.form-control(type="text", name="q", placeholder="Search")
              span &nbsp;near&nbsp;
              input.form-control.near(type="text", name="location", placeholder='Example: Los Angeles')
              input.btn.btn-primary(type="submit", value="Search")
  .container
    .row
      .col-6
        h2 Search Results
        ul.list-group.entityList
      .col-6
        form#schedule
          h2 Schedule
          input(type="hidden", name="profile_id", value=profile_id)
          ul.selectedList.list-group
          .form-actions
            button.btn.btn-primary.pull-right.disabled#save save
  

  script(type="text/javascript").
    $(function() {
      var profile      = new Profile();
    });

    
