extends layout
block content
  div.profile
    h1 Profile
    form(action="/searchEntity", method="post")
      div.input-group
        input.form-control(type="text", name="q", placeholder="Search")
        span &nbsp;near&nbsp;
        input.form-control.near(type="text", name="location", placeholder='Example: Los Angeles')
        input.btn.btn-primary(type="submit", value="Search")
