extends layout
block head
  script(src='/javascripts/profile.js')
block content
  div.profile
    h1 Profile
    .col-12
      form#searchForm(action="/searchEntity", method="post")
        div.input-group
          input.form-control(type="text", name="q", placeholder="Search")
          span &nbsp;near&nbsp;
          input.form-control.near(type="text", name="location", placeholder='Example: Los Angeles')
          input.btn.btn-primary(type="submit", value="Search")
    .col-4
      h2 Search Results
      ul.list-group.entityList
    .col-4
      form#schedule
        h2 Schedule
        input(type="hidden", name="profile_id", value=profile_id)
        ul.selectedList.list-group
        .form-actions
          button.btn.btn-success.pull-right.disabled#save Save
    .col-4
      h2 Results
      ul.selectedList.list-group.results#refs
      a.btn.btn-primary.pull-right(href="/profile/" + profile_id + "/export" ) Export
  
  script(type="text/javascript").
    var $refs = $("#refs");
    function showRefs(refs) {
      $refs.html('');
      console.log(refs);
      refs.forEach(function(r, i) {
        if(r.isNoise) {
          noise = "list-group-item noise";
        } else {
          noise = "list-group-item";
        }
        $refs.append("<li class = '"  + noise + "'><div class='list-group-item-heading'>" + r.name + "</div><div class='list-group-item-text'>" + (new Date(r.timestamp).toString().replace(/GMT.+$/,'')) + "</div></li>");
      });
    }

    $(function() {
      var profile      = new Profile();
      var refs = !{JSON.stringify(refs || [])};
      showRefs(refs);
    });
