extends layout
block head
  script(src='/javascripts/profile.js')
block content
  div.profile
    h1 Profile
    .container
      .row
        .col-12
          form(action="/searchEntity", method="post", id="searchForm")
            div.input-group
              input.form-control(type="text", name="q", placeholder="Search")
              span &nbsp;near&nbsp;
              input.form-control.near(type="text", name="location", placeholder='Example: Los Angeles')
              input.btn.btn-primary(type="submit", value="Search")
  .container
    .row
      .col-6
        ul.list-group.entityList
      .col-6
        ul.selectedList.list-group
  
  script#rowTemplate(type="text/x-jquery-tmpl")
    li.list-group-item
      .list-group-item-heading.name
      .list-group-item-text
        span.address
        span.categories
        span.latitude
        span.longitude
      


  script(type="text/javascript").

    $(function() {
      var $entityList = $(".entityList");
      var $selections  = $(".selectedList");
      var $searchForm  = $("#searchForm");
      var profile      = new Profile($searchForm, $entityList, $selections);
    });

    
