extends layout
block head
  script(src='/javascripts/profile.js')
block content
  div.profile
    h1 Profile
    .col-12
      form#searchForm(action="/searchEntity", method="post")
        div.input-group
          input.form-control(type="text", name="q", placeholder="Search")
          span &nbsp;near&nbsp;
          input.form-control.near(type="text", name="location", placeholder='Example: Los Angeles')
          input.btn.btn-primary(type="submit", value="Search")
    .col-4
      h2 Search Results
      ul.list-group.entityList
    .col-4
      form#schedule
        h2 Schedule
        input(type="hidden", name="profile_id", value=profile_id)
        ul.selectedList.list-group
        .form-actions
          button.btn.btn-primary.pull-right.disabled#save save
    .col-4
      h2 Results
        ul.selectedList.list-group
     
  div#refs
  

  script(type="text/javascript").
    var $refs = $("#refs");
    function showRefs(refs) {
      $refs.html('');
      refs.forEach(function(r, i) {
        $refs.append("<div>"+(new Date(r.timestamp).toString())+ " ---> "+r.name+"</div>");
      });
    }

    $(function() {
      var profile      = new Profile();
      var refs = !{refs ? JSON.stringify(refs) : []};
      showRefs(refs);
    });


    
