extends layout
block content

  .container
    .row
      .col-md-12
        .mapWrapper(style="border:1px solid #CCC;padding-bottom:4px;")
          #map(style='height:280px;margin-bottom:4px;')
          form#importForm(role='form', method='post', enctype="multipart/form-data").form-inline
            .form-group.pull-right
              a.btn.btn-default(href="/profile/#{profileData._id}/events/new") Create Events
            .form-group
              button.btn.btn-default#importButton Import Baseline
              input(name='baselineData', type='file')#importAction.hide
              input(type='hidden', name='profileId', value=profileData._id)
            .form-group
              #importProgress.progress
                .progress-bar
    .row
      .col-md-12
        table.table#refsTable
        button#export.btn.btn-default.btn-large.pull-right Export
        button#save.btn.btn-default.btn-large Save

  input#profileData(type='hidden', data-profile=profileData)

block javascripts
  script(src='/javascripts/profiles.js')
  script(src='/javascripts/uploader.js')
  script(src='/javascripts/map.js')
  script(src='/javascripts/views/profile.js')

  script(type='text/javascript').
    var profileData = $('#profileData').data('profile');
    var profile  = new Profile({_id: profileData._id});
    var uploader = new Uploader();

    function renderViews() {
      listView.render();
      mapView.render();
    }

    profile.on('change', function() {
      renderViews();
    });

    profile.fetch();


  // script(type='text/javascript', src='/javascripts/profile/index.js')

