extends layout
block content
  h1 Profile
  form(action="/searchEntity", method="post")
    p
      label Keywords
      input(type="text", name="q")
    p
      label Near
      input(type="text", name="location")
    input(type="submit") Search 
