body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.page-width {
  width: 980px;
  margin: 0 auto;
}


.left-column, .right-column {
  width: 45%;
  float: left;
}

body .input-group .user-id {
  width: 600px;
}

body .input-group .user-traits {
  width: 637px;
}

