body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 30px;
}

a {
  color: #00B7FF;
}

.page-width {
  width: 980px;
  margin: 0 auto;
}

.left-column, .right-column {
  width: 50%;
  float: left;
}

body .right-column {
  padding: 0 0 0 30px;
}

/* index page styles */

body h2 {
  font-size: 20px;
  color:#757575;
  padding-bottom: 10px;
}

body .input-group {
  width: 100%;
  padding-bottom: 10px;
}

.list-group-item:hover {
  background-color: #FFFF99;
  cursor: pointer;
}
