{
  "factual": {
    "dev": {
      "baseUrl": "http://api.dev.factual.com",
      "key": "",
      "secret": ""
    },
    "prod": {
      "baseUrl": "http://api.v3.factual.com",
      "key": "",
      "secret": ""
    }
  },
  "mongo": {
    "host": "mongodb://127.0.0.1",
    "port": 27017,
    "database": "mole"
  },
  "geonames": {
    "username": ""
  },
  "mapbox": {
    "id": ""
  }

}

